PORT=5000
NODE_ENV=development
API_PREFIX=/api/v1

DATABASE_URL="postgresql://postgres:securepassword@localhost:6432/zillow?schema=public&pgbouncer=true"
DIRECT_URL="postgresql://postgres:securepassword@localhost:5432/zillow?schema=public"
REDIS_URL="redis://localhost:6379"

JWT_PRIVATE_KEY_PATH="keys/jwt-private.key"
JWT_PUBLIC_KEY_PATH="keys/jwt-public.key"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# Credentials for notifications
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_user
SMTP_PASS=mock_pass
FROM_EMAIL=no-reply@zillow.com
FRONTEND_URL="http://localhost:3000"
